.bkgdimg {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}

.stretch {
	opacity: 0.5;
	height: 100%;
	width: 100%;
}

#wrapper {
	width: 100%;
	overflow: hidden;
}

#holder {
	width: 100%;
	margin: 0 auto;
}

.banner {
	width: 100%;
}

.linkBanner {
	font-size: 20px;
	margin-top: 0;
	background-color: red;
}

.pageInfo {
	font-size: 20px;
	float: left;
	width: 600px;
}

.pageImage {
	float: right;
	width: 600px;
}




