.bkgdimg {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}

.stretch {
	opacity: 0.5;
	height: 100%;
	width: 100%;
}

.banner {
	min-width: 100%;
	margin: 0;
}

.linkBanner {
	font-size: 120ems;
	margin-top: 0;
	background-color: red;
}