
body {
	background-color: #ccc;
}

#wrapper {
	width: 100%;
	overflow: hidden;
}

#holder {
	width: 100%;
	margin: 0 auto;
}

.banner {
	width: 100%;
	height: 90px;
}

.navBar {
	/* font-size: 20px; */
	margin-top: 0;
	background-color: red;
	height: 50px;
	padding: 0px auto;
	margin: -4px auto;
	border: 0px auto;
	width:  100%;
	display:  table;
}

.navBarItem {
	width: 19vw;
	text-align: center;
	color: #ece0ec;
	font-size: 15px;
	display: table-cell;
	vertical-align: middle;
	font-family: sans-serif;
	text-decoration: none;
}

.entirePage{
	background-color: white;
	padding: 0px auto;
	margin: -20px auto;
	border: 0px auto;
}

.pageInfo {
	font-size: 20px;
	float: right;
}

.pageImage{
	float: right;
	clear: left;
}

.contactInfo {
	width: 300px;
	float: right;
	clear: left;
}

.presInductor {
	width: 300px;
	float: right;
}